#intro{
    height: calc(100vh - 75rem);
    width: 100vw;
    max-width: 75rem;
    position: relative;
   


}

.introcontent{
    position: absolute;
    height: 100vh;
    width: 100vw;
    padding-bottom: 4rem;
    padding-left: 35rem;
    color: black;   
    display: flex;
    flex-direction: column;
    justify-content: center; 
}



.pic{
    position: absolute;
    top:10rem;
    right: 45rem;
    z-index: -1;
    object-fit: cover;
    height: 55vh;
    border-radius: 20%;
    border: black solid;
    border-width: 0.5rem;     
}

.btn{
    background: silver;
    margin-top: 0.5rem ;
    margin-right: 2rem;
    padding: 0.7em 0.5rem;
    border: none;
    border-radius: 2rem;
}
.btnimg{
    object-fit: cover;
    margin: 0rem;
    height: 3.5rem;
}

.hello{
    font-style:normal;
    font-size: 2rem;
    font-weight: 100;
}

.introtext{
    font-style: normal;
    font-size: 3rem;
}
.introname{
    color: #173974;
}
.intropara{
    font-style: medium;
    font-weight: 300;
    font-size: 1.5rem;
    letter-spacing: 2px;
}

@media screen and (max-width:840px){
    .pic{
        right: -10vw;
        
    }
    .introcontent{
        font-size:10vw ;
        right: 75vw;
        top: 50rem;
    }

    .hello{
        font-size: 4.5vw;
    }
    
}
